<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLIGHT AND SEARCH SERVICE</title>
</head>
<body>
     WRONG CALL
    <p> 
    <ul>
        <li>try using 
         
        <li>router.post('/api/v1/city' , CityController.create);</li>
        <li>router.delete('/api/v1/city/:id' , CityController.destroy);</li>
        <li>router.get('/api/v1/city/:id' , CityController.get);</li>
        <li>router.patch('/api/v1/city/:id' , CityController.update);</li>
        <li>router.get('/api/v1/city' , CityController.getAll);</li>
        <li>router.post('/api/v1/flights' ,FlightMiddlewares.validateCreateFlights ,FlightController.create);</li>
        <li>router.get('/api/v1/flights' , FlightController.getAll);</li>
        <li>router.get('/api/v1/flights/:id' , FlightController.get);</li>
        <li>router.post('/api/v1/airports' , AirportController.create);</li>
        <li>router.patch('/api/v1/flights/:id' , FlightController.update);</li>
    </ul>
</p>
</body>
</html>
